langgraph
langchain-community
langchain-openai
langchain-anthropic
langchain-mcp-adapters
langchain-deepseek
langchain-tavily
langchain-groq
openai
tavily-python
arxiv
pymupdf
xmltodict
linkup-sdk
duckduckgo-search
exa-py
requests
beautifulsoup4
python-dotenv
pytest
httpx
markdownify
azure-identity
azure-search
azure-search-documents
rich
langgraph-cli
langsmith
langchain-google-vertexai
langchain-google-genai
ipykernel
supabase
mcp
langchain-aws
pandas
mypy
ruff
